
/* icons */
[class^="rsp-"],
[class*=" rsp-"] {
  display: inline-block;
  width: 17px;
  height: 16px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("icons/flags.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="rsp-"]:last-child,
[class*=" rsp-"]:last-child {
  *margin-left: 0;
}


.rsp-ad{background-position:-5px -5px;}
.rsp-ae{background-position:-31px -5px;}
.rsp-af{background-position:-57px -5px;}
.rsp-ag{background-position:-83px -5px;}
.rsp-ai{background-position:-109px -5px;}
.rsp-al{background-position:-135px -5px;}
.rsp-am{background-position:-161px -5px;}
.rsp-an{background-position:-187px -5px;}
.rsp-ao{background-position:-213px -5px;}
.rsp-ar{background-position:-239px -5px;}
.rsp-as{background-position:-265px -5px;}
.rsp-at{background-position:-291px -5px;}
.rsp-au{background-position:-317px -5px;}
.rsp-aw{background-position:-343px -5px;}
.rsp-ax{background-position:-5px -26px;}
.rsp-az{background-position:-31px -26px;}
.rsp-ba{background-position:-57px -26px;}
.rsp-bb{background-position:-83px -26px;}
.rsp-bd{background-position:-109px -26px;}
.rsp-be{background-position:-135px -26px;}
.rsp-bf{background-position:-161px -26px;}
.rsp-bg{background-position:-187px -26px;}
.rsp-bh{background-position:-213px -26px;}
.rsp-bi{background-position:-239px -26px;}
.rsp-bj{background-position:-265px -26px;}
.rsp-bm{background-position:-291px -26px;}
.rsp-bn{background-position:-317px -26px;}
.rsp-bo{background-position:-343px -26px;}
.rsp-br{background-position:-5px -47px;}
.rsp-bs{background-position:-31px -47px;}
.rsp-bt{background-position:-57px -47px;}
.rsp-bv{background-position:-83px -47px;}
.rsp-bw{background-position:-109px -47px;}
.rsp-by{background-position:-135px -47px;}
.rsp-bz{background-position:-161px -47px;}
.rsp-ca{background-position:-187px -47px;}
.rsp-catalonia{background-position:-213px -47px;}
.rsp-cc{background-position:-239px -47px;}
.rsp-cd{background-position:-265px -47px;}
.rsp-cf{background-position:-291px -47px;}
.rsp-cg{background-position:-317px -47px;}
.rsp-ch{background-position:-343px -47px;}
.rsp-ci{background-position:-5px -68px;}
.rsp-ck{background-position:-31px -68px;}
.rsp-cl{background-position:-57px -68px;}
.rsp-cm{background-position:-83px -68px;}
.rsp-cn{background-position:-109px -68px;}
.rsp-co{background-position:-135px -68px;}
.rsp-cr{background-position:-161px -68px;}
.rsp-cs{background-position:-187px -68px;}
.rsp-cu{background-position:-213px -68px;}
.rsp-cv{background-position:-239px -68px;}
.rsp-cx{background-position:-265px -68px;}
.rsp-cy{background-position:-291px -68px;}
.rsp-cz{background-position:-317px -68px;}
.rsp-de{background-position:-343px -68px;}
.rsp-dj{background-position:-5px -89px;}
.rsp-dk{background-position:-31px -89px;}
.rsp-dm{background-position:-57px -89px;}
.rsp-do{background-position:-83px -89px;}
.rsp-dz{background-position:-109px -89px;}
.rsp-ec{background-position:-135px -89px;}
.rsp-ee{background-position:-161px -89px;}
.rsp-eg{background-position:-187px -89px;}
.rsp-eh{background-position:-213px -89px;}
.rsp-england{background-position:-239px -89px;}
.rsp-er{background-position:-265px -89px;}
.rsp-es{background-position:-291px -89px;}
.rsp-et{background-position:-317px -89px;}
.rsp-europeanunion{background-position:-343px -89px;}
.rsp-fam{background-position:-5px -110px;}
.rsp-fi{background-position:-31px -110px;}
.rsp-fj{background-position:-57px -110px;}
.rsp-fk{background-position:-83px -110px;}
.rsp-fm{background-position:-109px -110px;}
.rsp-fo{background-position:-135px -110px;}
.rsp-fr{background-position:-161px -110px;}
.rsp-ga{background-position:-187px -110px;}
.rsp-gb{background-position:-213px -110px;}
.rsp-gd{background-position:-239px -110px;}
.rsp-ge{background-position:-265px -110px;}
.rsp-gf{background-position:-291px -110px;}
.rsp-gh{background-position:-317px -110px;}
.rsp-gi{background-position:-343px -110px;}
.rsp-gl{background-position:-5px -131px;}
.rsp-gm{background-position:-31px -131px;}
.rsp-gn{background-position:-57px -131px;}
.rsp-gp{background-position:-83px -131px;}
.rsp-gq{background-position:-109px -131px;}
.rsp-gr{background-position:-135px -131px;}
.rsp-gs{background-position:-161px -131px;}
.rsp-gt{background-position:-187px -131px;}
.rsp-gu{background-position:-213px -131px;}
.rsp-gw{background-position:-239px -131px;}
.rsp-gy{background-position:-265px -131px;}
.rsp-hk{background-position:-291px -131px;}
.rsp-hm{background-position:-317px -131px;}
.rsp-hn{background-position:-343px -131px;}
.rsp-hr{background-position:-5px -152px;}
.rsp-ht{background-position:-31px -152px;}
.rsp-hu{background-position:-57px -152px;}
.rsp-id{background-position:-83px -152px;}
.rsp-ie{background-position:-109px -152px;}
.rsp-il{background-position:-135px -152px;}
.rsp-in{background-position:-161px -152px;}
.rsp-io{background-position:-187px -152px;}
.rsp-iq{background-position:-213px -152px;}
.rsp-ir{background-position:-239px -152px;}
.rsp-is{background-position:-265px -152px;}
.rsp-it{background-position:-291px -152px;}
.rsp-jm{background-position:-317px -152px;}
.rsp-jo{background-position:-343px -152px;}
.rsp-jp{background-position:-5px -173px;}
.rsp-ke{background-position:-31px -173px;}
.rsp-kg{background-position:-57px -173px;}
.rsp-kh{background-position:-83px -173px;}
.rsp-ki{background-position:-109px -173px;}
.rsp-km{background-position:-135px -173px;}
.rsp-kn{background-position:-161px -173px;}
.rsp-kp{background-position:-187px -173px;}
.rsp-kr{background-position:-213px -173px;}
.rsp-kw{background-position:-239px -173px;}
.rsp-ky{background-position:-265px -173px;}
.rsp-kz{background-position:-291px -173px;}
.rsp-la{background-position:-317px -173px;}
.rsp-lb{background-position:-343px -173px;}
.rsp-lc{background-position:-5px -194px;}
.rsp-li{background-position:-31px -194px;}
.rsp-lk{background-position:-57px -194px;}
.rsp-lr{background-position:-83px -194px;}
.rsp-ls{background-position:-109px -194px;}
.rsp-lt{background-position:-135px -194px;}
.rsp-lu{background-position:-161px -194px;}
.rsp-lv{background-position:-187px -194px;}
.rsp-ly{background-position:-213px -194px;}
.rsp-ma{background-position:-239px -194px;}
.rsp-mc{background-position:-265px -194px;}
.rsp-md{background-position:-291px -194px;}
.rsp-me{background-position:-317px -194px;}
.rsp-mg{background-position:-343px -194px;}
.rsp-mh{background-position:-5px -215px;}
.rsp-mk{background-position:-31px -215px;}
.rsp-ml{background-position:-57px -215px;}
.rsp-mm{background-position:-83px -215px;}
.rsp-mn{background-position:-109px -215px;}
.rsp-mo{background-position:-135px -215px;}
.rsp-mp{background-position:-161px -215px;}
.rsp-mq{background-position:-187px -215px;}
.rsp-mr{background-position:-213px -215px;}
.rsp-ms{background-position:-239px -215px;}
.rsp-mt{background-position:-265px -215px;}
.rsp-mu{background-position:-291px -215px;}
.rsp-mv{background-position:-343px -215px;}
.rsp-mw{background-position:-5px -236px;}
.rsp-mx{background-position:-31px -236px;}
.rsp-my{background-position:-57px -236px;}
.rsp-mz{background-position:-83px -236px;}
.rsp-na{background-position:-109px -236px;}
.rsp-nc{background-position:-135px -236px;}
.rsp-ne{background-position:-161px -236px;}
.rsp-nf{background-position:-187px -236px;}
.rsp-ng{background-position:-213px -236px;}
.rsp-ni{background-position:-239px -236px;}
.rsp-nl{background-position:-265px -236px;}
.rsp-no{background-position:-291px -236px;}
.rsp-np{background-position:-317px -236px;}
.rsp-nr{background-position:-336px -236px;}
.rsp-nu{background-position:-5px -257px;}
.rsp-nz{background-position:-31px -257px;}
.rsp-om{background-position:-57px -257px;}
.rsp-pa{background-position:-83px -257px;}
.rsp-pe{background-position:-109px -257px;}
.rsp-pf{background-position:-135px -257px;}
.rsp-pg{background-position:-161px -257px;}
.rsp-ph{background-position:-187px -257px;}
.rsp-pk{background-position:-213px -257px;}
.rsp-pl{background-position:-239px -257px;}
.rsp-pm{background-position:-265px -257px;}
.rsp-pn{background-position:-291px -257px;}
.rsp-pr{background-position:-317px -257px;}
.rsp-ps{background-position:-343px -257px;}
.rsp-pt{background-position:-5px -278px;}
.rsp-pw{background-position:-31px -278px;}
.rsp-py{background-position:-57px -278px;}
.rsp-qa{background-position:-83px -278px;}
.rsp-re{background-position:-109px -278px;}
.rsp-ro{background-position:-135px -278px;}
.rsp-rs{background-position:-161px -278px;}
.rsp-ru{background-position:-187px -278px;}
.rsp-rw{background-position:-213px -278px;}
.rsp-sa{background-position:-239px -278px;}
.rsp-sb{background-position:-265px -278px;}
.rsp-sc{background-position:-291px -278px;}
.rsp-scotland{background-position:-317px -278px;}
.rsp-sd{background-position:-343px -278px;}
.rsp-se{background-position:-5px -299px;}
.rsp-sg{background-position:-31px -299px;}
.rsp-sh{background-position:-57px -299px;}
.rsp-si{background-position:-83px -299px;}
.rsp-sj{background-position:-109px -299px;}
.rsp-sk{background-position:-135px -299px;}
.rsp-sl{background-position:-161px -299px;}
.rsp-sm{background-position:-187px -299px;}
.rsp-sn{background-position:-213px -299px;}
.rsp-so{background-position:-239px -299px;}
.rsp-sr{background-position:-265px -299px;}
.rsp-st{background-position:-291px -299px;}
.rsp-sv{background-position:-317px -299px;}
.rsp-sy{background-position:-343px -299px;}
.rsp-sz{background-position:-5px -320px;}
.rsp-tc{background-position:-31px -320px;}
.rsp-td{background-position:-57px -320px;}
.rsp-tf{background-position:-83px -320px;}
.rsp-tg{background-position:-109px -320px;}
.rsp-th{background-position:-135px -320px;}
.rsp-tj{background-position:-161px -320px;}
.rsp-tk{background-position:-187px -320px;}
.rsp-tl{background-position:-213px -320px;}
.rsp-tm{background-position:-239px -320px;}
.rsp-tn{background-position:-265px -320px;}
.rsp-to{background-position:-291px -320px;}
.rsp-tr{background-position:-317px -320px;}
.rsp-tt{background-position:-343px -320px;}
.rsp-tv{background-position:-5px -341px;}
.rsp-tw{background-position:-31px -341px;}
.rsp-tz{background-position:-57px -341px;}
.rsp-ua{background-position:-83px -341px;}
.rsp-ug{background-position:-109px -341px;}
.rsp-um{background-position:-135px -341px;}
.rsp-us{background-position:-161px -341px;}
.rsp-uy{background-position:-187px -341px;}
.rsp-uz{background-position:-213px -341px;}
.rsp-va{background-position:-239px -341px;}
.rsp-vc{background-position:-265px -341px;}
.rsp-ve{background-position:-291px -341px;}
.rsp-vg{background-position:-317px -341px;}
.rsp-vi{background-position:-343px -341px;}
.rsp-vn{background-position:-369px -5px;}
.rsp-vu{background-position:-369px -26px;}
.rsp-wales{background-position:-364px -47px;}
.rsp-wf{background-position:-369px -68px;}
.rsp-ws{background-position:-369px -89px;}
.rsp-ye{background-position:-369px -110px;}
.rsp-yt{background-position:-369px -131px;}
.rsp-za{background-position:-369px -152px;}
.rsp-zm{background-position:-369px -173px;}
.rsp-zw{background-position:-369px -194px;}