
/* icons */
[class^="rsp-"],
[class*=" rsp-"] {
  display: inline-block;
  width: 17px;
  height: 16px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("icons/host.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="rsp-"]:last-child,
[class*=" rsp-"]:last-child {
  *margin-left: 0;
}

.rsp-alcohol{background-position:-5px -5px;}
.rsp-ambiental-mercury-thermometer{background-position:-31px -5px;}
.rsp-ambulance{background-position:-57px -5px;}
.rsp-ambulance-silhouette1{background-position:-83px -5px;}
.rsp-assistant{background-position:-109px -5px;}
.rsp-astronaut{background-position:-135px -5px;}
.rsp-baby{background-position:-161px -5px;}
.rsp-bag-4{background-position:-187px -5px;}
.rsp-bandage{background-position:-213px -5px;}
.rsp-bedpan{background-position:-239px -5px;}
.rsp-blood-drop{background-position:-265px -5px;}
.rsp-blood-perfusion1{background-position:-291px -5px;}
.rsp-briefcase-1{background-position:-317px -5px;}
.rsp-builder{background-position:-343px -5px;}
.rsp-builder-1{background-position:-369px -5px;}
.rsp-businessman{background-position:-395px -5px;}
.rsp-cannula{background-position:-421px -5px;}
.rsp-captain{background-position:-447px -5px;}
.rsp-cardiogram{background-position:-473px -5px;}
.rsp-cardiogram-in-a-heart1{background-position:-499px -5px;}
.rsp-cardiologist-stethoscope{background-position:-525px -5px;}
.rsp-cart-11{background-position:-551px -5px;}
.rsp-cart-16{background-position:-577px -5px;}
.rsp-cart-17{background-position:-603px -5px;}
.rsp-cart-2{background-position:-629px -5px;}
.rsp-cart-3{background-position:-655px -5px;}
.rsp-cart-8{background-position:-681px -5px;}
.rsp-cashier{background-position:-707px -5px;}
.rsp-clipboard{background-position:-733px -5px;}
.rsp-coin{background-position:-759px -5px;}
.rsp-coin-5{background-position:-785px -5px;}
.rsp-coin-7{background-position:-811px -5px;}
.rsp-coin-8{background-position:-837px -5px;}
.rsp-coins{background-position:-863px -5px;}
.rsp-coins-1{background-position:-889px -5px;}
.rsp-computer{background-position:-915px -5px;}
.rsp-concierge{background-position:-941px -5px;}
.rsp-cooker{background-position:-967px -5px;}
.rsp-cotton-applicator{background-position:-993px -5px;}
.rsp-courier{background-position:-1019px -5px;}
.rsp-crate-4{background-position:-1045px -5px;}
.rsp-credit-card{background-position:-1071px -5px;}
.rsp-credit-card-1{background-position:-1097px -5px;}
.rsp-credit-card-4{background-position:-1123px -5px;}
.rsp-crib{background-position:-1149px -5px;}
.rsp-cross{background-position:-1175px -5px;}
.rsp-croupier{background-position:-1201px -5px;}
.rsp-croupier-1{background-position:-1227px -5px;}
.rsp-defibrillator{background-position:-1253px -5px;}
.rsp-detective{background-position:-1279px -5px;}
.rsp-diagram{background-position:-1305px -5px;}
.rsp-diagram-2{background-position:-1331px -5px;}
.rsp-diver{background-position:-1357px -5px;}
.rsp-dj{background-position:-1383px -5px;}
.rsp-dna{background-position:-1409px -5px;}
.rsp-doctor{background-position:-1435px -5px;}
.rsp-doctor-1{background-position:-1461px -5px;}
.rsp-doctor-11{background-position:-1487px -5px;}
.rsp-doctor1{background-position:-1513px -5px;}
.rsp-downstairs-sign{background-position:-1539px -5px;}
.rsp-ear{background-position:-1565px -5px;}
.rsp-electrode{background-position:-1591px -5px;}
.rsp-enema{background-position:-1617px -5px;}
.rsp-engineer{background-position:-1643px -5px;}
.rsp-eye{background-position:-1669px -5px;}
.rsp-eyeglasses{background-position:-1695px -5px;}
.rsp-face-mask{background-position:-1721px -5px;}
.rsp-farmer{background-position:-1747px -5px;}
.rsp-female-doctor1{background-position:-1773px -5px;}
.rsp-firefighter{background-position:-1799px -5px;}
.rsp-firefighter-1{background-position:-1825px -5px;}
.rsp-flask{background-position:-1851px -5px;}
.rsp-flask-with-medicine1{background-position:-1877px -5px;}
.rsp-forceps{background-position:-1903px -5px;}
.rsp-gauze{background-position:-1929px -5px;}
.rsp-gentleman{background-position:-1955px -5px;}
.rsp-gloves{background-position:-1981px -5px;}
.rsp-graph{background-position:-2007px -5px;}
.rsp-graph-2{background-position:-2033px -5px;}
.rsp-grocery{background-position:-2059px -5px;}
.rsp-hammer{background-position:-2085px -5px;}
.rsp-health-clinic-sign{background-position:-2111px -5px;}
.rsp-heart{background-position:-2137px -5px;}
.rsp-hemoglobin-test-meter{background-position:-2163px -5px;}
.rsp-hospital{background-position:-2189px -5px;}
.rsp-hospital-apple-silhouette1{background-position:-2215px -5px;}
.rsp-hospital-band-aid{background-position:-2241px -5px;}
.rsp-hospital-bandage{background-position:-2267px -5px;}
.rsp-hospital-bed{background-position:-2293px -5px;}
.rsp-hospital-bed-silhouette{background-position:-2319px -5px;}
.rsp-hospital-building{background-position:-2345px -5px;}
.rsp-hospital-garbage-can{background-position:-2371px -5px;}
.rsp-hospital-leaflet{background-position:-2397px -5px;}
.rsp-hospital-location{background-position:-2423px -5px;}
.rsp-hospital-phone1{background-position:-2449px -5px;}
.rsp-hospital-pipette{background-position:-2475px -5px;}
.rsp-hospital-secretary1{background-position:-2501px -5px;}
.rsp-hospital-sign-silhouette{background-position:-2527px -5px;}
.rsp-hospital-sign1{background-position:-2553px -5px;}
.rsp-hospital-supplies1{background-position:-2579px -5px;}
.rsp-hospital-test-tube1{background-position:-2605px -5px;}
.rsp-hospitals-computer{background-position:-2631px -5px;}
.rsp-hospitals-lift1{background-position:-2657px -5px;}
.rsp-icu-monitor{background-position:-2683px -5px;}
.rsp-id-card{background-position:-2709px -5px;}
.rsp-injection-needle{background-position:-2735px -5px;}
.rsp-insert-coin{background-position:-2761px -5px;}
.rsp-iv-bag{background-position:-2787px -5px;}
.rsp-iv-pole{background-position:-2813px -5px;}
.rsp-journalist{background-position:-2839px -5px;}
.rsp-judge{background-position:-2865px -5px;}
.rsp-kidneys{background-position:-2891px -5px;}
.rsp-laryngeal-mirror{background-position:-2917px -5px;}
.rsp-loader{background-position:-2943px -5px;}
.rsp-lungs{background-position:-2969px -5px;}
.rsp-magnetic-resonance-imaging{background-position:-2995px -5px;}
.rsp-magnifying-glass{background-position:-3021px -5px;}
.rsp-maid{background-position:-3047px -5px;}
.rsp-manager{background-position:-3073px -5px;}
.rsp-medical-chart{background-position:-3099px -5px;}
.rsp-medical-equipment{background-position:-3125px -5px;}
.rsp-medical-kit{background-position:-3151px -5px;}
.rsp-medication-bottles1{background-position:-3177px -5px;}
.rsp-medicine-bottle{background-position:-3203px -5px;}
.rsp-medicine-bottle-1{background-position:-3229px -5px;}
.rsp-medicine-pot1{background-position:-3255px -5px;}
.rsp-medicines{background-position:-3281px -5px;}
.rsp-megaphone{background-position:-3307px -5px;}
.rsp-mercury-thermometer1{background-position:-3333px -5px;}
.rsp-microscope-silhouette1{background-position:-3359px -5px;}
.rsp-miner{background-position:-3385px -5px;}
.rsp-motorcyclist{background-position:-3411px -5px;}
.rsp-nun{background-position:-3437px -5px;}
.rsp-nurse{background-position:-3463px -5px;}
.rsp-nurse-head{background-position:-3489px -5px;}
.rsp-nurse-uniform1{background-position:-3515px -5px;}
.rsp-nurse1{background-position:-3541px -5px;}
.rsp-ointment{background-position:-3567px -5px;}
.rsp-ophthalmoscope{background-position:-3593px -5px;}
.rsp-optical{background-position:-3619px -5px;}
.rsp-organ-transport-box{background-position:-3645px -5px;}
.rsp-otoscope{background-position:-3671px -5px;}
.rsp-patient-in-a-stretcher{background-position:-3697px -5px;}
.rsp-patient-robe{background-position:-3723px -5px;}
.rsp-petri-dish{background-position:-3749px -5px;}
.rsp-pie-chart-2{background-position:-3775px -5px;}
.rsp-piggy-bank{background-position:-3801px -5px;}
.rsp-pill-and-tablet{background-position:-3827px -5px;}
.rsp-pills-1{background-position:-3853px -5px;}
.rsp-pilot{background-position:-3879px -5px;}
.rsp-pipette{background-position:-3905px -5px;}
.rsp-plaster{background-position:-3931px -5px;}
.rsp-policeman{background-position:-3957px -5px;}
.rsp-postman{background-position:-3983px -5px;}
.rsp-prescription{background-position:-4009px -5px;}
.rsp-presentation{background-position:-4035px -5px;}
.rsp-presentation-17{background-position:-4061px -5px;}
.rsp-presentation-18{background-position:-4087px -5px;}
.rsp-presentation-19{background-position:-4113px -5px;}
.rsp-presentation-6{background-position:-4139px -5px;}
.rsp-presentation-9{background-position:-4165px -5px;}
.rsp-price-tag-2{background-position:-4191px -5px;}
.rsp-price-tag-5{background-position:-4217px -5px;}
.rsp-priest{background-position:-4243px -5px;}
.rsp-proctoscope{background-position:-4269px -5px;}
.rsp-retractor{background-position:-4295px -5px;}
.rsp-room-divider{background-position:-4321px -5px;}
.rsp-safebox{background-position:-4347px -5px;}
.rsp-safebox-2{background-position:-4373px -5px;}
.rsp-scales{background-position:-4399px -5px;}
.rsp-scalpel{background-position:-4425px -5px;}
.rsp-scalpel1{background-position:-4451px -5px;}
.rsp-scientist{background-position:-4477px -5px;}
.rsp-scissors{background-position:-4503px -5px;}
.rsp-sheriff{background-position:-4529px -5px;}
.rsp-showman{background-position:-4555px -5px;}
.rsp-skull{background-position:-4581px -5px;}
.rsp-smartphone-sign-in-hospital1{background-position:-4607px -5px;}
.rsp-soldier{background-position:-4633px -5px;}
.rsp-soldier-1{background-position:-4659px -5px;}
.rsp-sphygmomanometer{background-position:-4685px -5px;}
.rsp-stairs-sign-silhouette1{background-position:-4711px -5px;}
.rsp-steel-forceps1{background-position:-4737px -5px;}
.rsp-stethoscope{background-position:-4763px -5px;}
.rsp-stewardess{background-position:-4789px -5px;}
.rsp-store-3{background-position:-4815px -5px;}
.rsp-stretcher{background-position:-4841px -5px;}
.rsp-strongbox{background-position:-4867px -5px;}
.rsp-suitcase{background-position:-4893px -5px;}
.rsp-surgeon{background-position:-4919px -5px;}
.rsp-surgeon-icon{background-position:-4945px -5px;}
.rsp-swat{background-position:-4971px -5px;}
.rsp-syringe-1{background-position:-4997px -5px;}
.rsp-syrup{background-position:-5023px -5px;}
.rsp-syrup1{background-position:-5049px -5px;}
.rsp-tablets{background-position:-5075px -5px;}
.rsp-tablets-outline{background-position:-5101px -5px;}
.rsp-taxi-driver{background-position:-5127px -5px;}
.rsp-teacher{background-position:-5153px -5px;}
.rsp-telephone{background-position:-5179px -5px;}
.rsp-thief{background-position:-5205px -5px;}
.rsp-timer{background-position:-5231px -5px;}
.rsp-tongue-depressor{background-position:-5257px -5px;}
.rsp-tooth{background-position:-5283px -5px;}
.rsp-toothbrush{background-position:-5309px -5px;}
.rsp-torch{background-position:-5335px -5px;}
.rsp-tuning{background-position:-5361px -5px;}
.rsp-urine{background-position:-5387px -5px;}
.rsp-vial{background-position:-5413px -5px;}
.rsp-vials{background-position:-5439px -5px;}
.rsp-virus{background-position:-5465px -5px;}
.rsp-waiter{background-position:-5491px -5px;}
.rsp-walker{background-position:-5517px -5px;}
.rsp-welder{background-position:-5543px -5px;}
.rsp-wheelchair{background-position:-5569px -5px;}
.rsp-work-table{background-position:-5595px -5px;}
.rsp-writer{background-position:-5621px -5px;}
.rsp-x-ray{background-position:-5647px -5px;}
.rsp-x-ray-sign{background-position:-5673px -5px;}