table.muter, tr, td, th.vertical {
  /*border: 1px solid #000;*/
  position: relative;
  padding: 10px;
}

span.rotate {
  transform-origin: 0 50%;
  transform: rotate(-90deg); 
  white-space: nowrap; 
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
}

/* source: http://jsfiddle.net/tsYRQ/1004/ */

/*td {
  border-collapse: collapse;
  border: 1px black solid;
}
tr:nth-of-type(5) td:nth-of-type(1) {
  visibility: hidden;
}
.rotate {
  /* FF3.5+ */
  /*-moz-transform: rotate(-90.0deg);*/
  /* Opera 10.5 */
  /*-o-transform: rotate(-90.0deg);*/
  /* Saf3.1+, Chrome */
  /*-webkit-transform: rotate(-90.0deg);*/
  /* IE6,IE7 */
  /*filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);*/
  /* IE8 */
  /*-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";*/
  /* IE10 */
  /*-ms-transform: rotate(-90.0deg);*/
  /* Standard */
  /*transform: rotate(-90.0deg);*/
/*}*/

/* source: http://stackoverflow.com/a/15807121 */